* {
    -webkit-border-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --main-color: rgb(240, 248, 255);
    --second-color: #318ce7;
    --third-color: #fdddff;
    --fourth-color: linear-gradient(to right, rgb(247, 248, 196), rgb(143, 201, 251));
    --hover-color: #bcdaf8;
    --border-color: #318ce7;

}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Mulish", "Open Sans", sans-serif;
display:flex;
align-items: center;
justify-content: center;
    background-image: var(--fourth-color);

}


html,
body {
    overflow-y: scroll;
    scrollbar-width: none;
    /* Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
    /* Chrome, Edge */
}



.container {
    margin: auto;
}
.nav .container .content {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    margin: 0;
    padding-inline: 7%;
    padding-block: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    background-color: white;
    z-index: 55;
}

.nav .container .content .name {
    display: flex;
    align-items: center;

}

.nav .container .content .name h2 {
    display: inline-block;
    font-size: 18px;
    margin-left: 7px;
    font-weight: 800;

}

.nav .container .content .name img {
    width: 60px;
    height: 50px;
}

.nav .container .content button {

    height: 30px;
    border-radius: 11px;
    padding-inline: 12px;
    font-size: 15px;
    font-weight: 600;
    background-color: #318ce7;
    border: 2px solid #318ce7;
    color: white;
    padding-block: 0;
}

.nav .container .content button a {

    text-decoration: none;
    color: white;
}

.nav .container .content button a:hover {


    color: var(--second-color);
}

.nav .container .content button:hover {

    background-color: var(--hover-color);
    border-color: var(--border-color);
    color: var(--second-color);

}

/* -- End Nav Bar -- */

/*sign in sign up new one */
#popup::backdrop {
    background-color: #7f7f7f92;
}

#popup {
    background: transparent;
}

.whole-container {

margin-top:50px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

@media (max-width:768px) {
    .whole-container {
        height: 120vh;
    }
}

.container-sign-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 750px;
    max-width: 100%;
    height: 500px;
}

.container-sign-page.flipped {
    transform: none;
}



@media (max-width:768px) {
    .container-sign-page {
        position: relative;
        width: 365px;
        height: 550px;
        transform-style: preserve-3d;
        transition: transform 0.6s ease-in-out;
        perspective: 1000px;
        overflow: hidden;

    }

    .container-sign-page.flipped {
        transform: rotateY(180deg);
    }
}

.container-sign-page h1 {

    font-weight: bold;
    margin: 0;
}

.container-sign-page form h1 {
    margin-bottom: 5px;
}



.container-sign-page p {
    font-size: 14px;
    font-weight: 100px;
    line-height: 20px;
    letter-spacing: 0.5px;
    color: #787878;


}

.container-sign-page .soustitre {
    margin-bottom: 20px;
}

.container-sign-page .slider-p {
    /*color: rgb(25, 2, 79);*/
    color: white;
}

.container-sign-page .overlay-container .overlay .image {
    width: 250px;
    margin: auto;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 140px;
    left: 50%;
}

.container-sign-page img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.container-sign-page span,
.container-sign-page a {
    color: #787878;

    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;

}

#term {
    border: 1px solid gray;
    border-radius: 15px;
    padding-inline: 5px;
    margin-left: 5px;
    font-size: 12px;

}

#term:hover {
    background-color: #dedede;
    cursor: pointer;
}

.container-sign-page button {
    border-radius: 25px;
    border: 1px solid var(--second-color);
    background-color: var(--second-color);
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 18px;
    letter-spacing: 1px;
    transition: transform 80ms ease-in;
}

@media(max-width:768px) {
    .container-sign-page button {
        margin-bottom: 20px;
    }

}

.container-sign-page button:active {
    transform: scale(0.95);
}

.container-sign-page button:focus {
    outline: none;
}

.container-sign-page button.ghost {
    padding-block: 10px;
    padding-inline: 20px;
    border-radius: 25px;
    border: 2px solid white;
    font-size: 18px;
    background-color: transparent;
    color: white;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: -100px;
}

.container-sign-page form {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}



.container-sign-page .form-container form input {
    background-color: #eeeded;
    border-radius: 10px;
    padding: 7px;
    width: 100%;
    border: 2px solid #ececec;
}

.container-sign-page .form-container form input.error {
    border: 1px solid red !important;

}

.container-sign-page .form-container form label {

    padding: 5px 0;
    color: #9c9a9c;
    text-align: right;
    align-self: flex-start;
}

.container-sign-page .form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.3s ease-in-out
        /*here*/
}

@media (max-width: 767px) {

    .container-sign-page .form-container {
        position: absolute;
        backface-visibility: hidden;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transition: all 0.6s ease-in-out
    }

}



.container-sign-page .sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

@media (max-width: 768px) {

    .container-sign-page .sign-in-container {
        transform: rotateY(0deg);
        z-index: 2;
        opacity: 1;
        width: 100%;
        backface-visibility: hidden;

    }

    .container-sign-page.flipped .sign-in-container {
        transform: rotateY(-180deg);
    }
}




.container-sign-page.right-panel-active .sign-in-container {
    transform: translateX(100%);
}

@media (max-width: 768px) {

    .container-sign-page.right-panel-active .sign-in-container {
        transform: none;
    }
}


.container-sign-page .sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

@media (max-width:768px) {
    .container-sign-page .sign-up-container {
        transform: rotateY(180deg);
        width: 100%;
        opacity: 1;
        backface-visibility: hidden;
    }

    .container-sign-page.flipped .sign-up-container {
        transform: rotateY(0deg);
        z-index: 2;
    }

    .container-sign-page .sign-up-container form {
        transform: rotateY(180deg);
        width: 100%;
        height: 100%;
    }

}

.container-sign-page.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.3s;
    /*here*/
}

@media (max-width:768px) {

    .container-sign-page.right-panel-active .sign-up-container {
        transform: none;
    }

}

@keyframes show {

    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}


.container-sign-page .overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    /*here*/
    z-index: 50;
}

@media (max-width:768px) {
    .container-sign-page .overlay-container {
        display: none;
    }
}

.container-sign-page.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

@media (max-width:768px) {
    .container-sign-page.right-panel-active .overlay-container {
        transform: none;
    }
}

.container-sign-page .overlay {
    /* background-image: linear-gradient(180deg, rgba(143, 201, 251), rgb(252, 246, 161));*/
    background-image: url(../assets/ikraamm.png.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* color: rgb(25, 2, 79);*/
    color: white;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
    /*here*/
}

@media (max-width:768px) {
    .container-sign-page .overlay {
        display: none;
    }
}



.container-sign-page.right-panel-active .overlay {
    transform: translateX(50%);
}

@media (max-width:768px) {
    .container-sign-page.right-panel-active .overlay {
        transform: none;
    }
}



.container-sign-page .overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
    /*here*/
}

@media (max-width:768px) {
    .container-sign-page .overlay-panel {
        display: none;
    }
}


.container-sign-page .overlay-left {
    transform: translateX(-20%);
}

@media (max-width:767px) {
    .container-sign-page .overlay-left {
        transform: none;
    }
}


.container-sign-page.right-panel-active .overlay-left {
    transform: translateX(0);
}

@media (max-width:767px) {
    .container-sign-page.right-panel-active .overlay-left {
        transform: none;
    }
}


.container-sign-page .overlay-right {
    right: 0;
    transform: translateX(0);
}

@media (max-width:768px) {
    .container-sign-page .overlay-right {
        right: 0;
        transform: none;
    }
}

.container-sign-page.right-panel-active .overlay-right {
    transform: translateX(20%);
}

@media (max-width:768px) {
    .container-sign-page.right-panel-active .overlay-right {
        transform: none;
    }
}

.container-sign-page .terms {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 20px;
    margin-bottom: 10px;

}

.container-sign-page .terms p {
    font-size: 12px;
    margin-bottom: 0;
}

.container-sign-page .rotate-btn {

    display: none;
}

@media (max-width:768px) {
    .container-sign-page .rotate-btn {
        display: block;

        margin-left: 5px;
        border-radius: 25px;
        border: none;
        font-size: 18px;
        background-color: transparent;
        color: rgb(25, 2, 79);
        font-weight: 700;
        margin-bottom: 0;
        padding: 0;

    }

}

#signInRotate {
    transform: rotateY(180deg);
}

@media (max-width:768px) {
    .container-sign-page .alt {
        color: #787878;
        margin-bottom: 5px;

    }
}

.container-sign-page form .flipping-part {
    display: none;
}

@media (max-width:768px) {
    .container-sign-page form .flipping-part {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .container-sign-page form .flipping-part p {
        margin-bottom: 5px;
    }
}

.whole-container .container-sign-page form small {
    font-size: 12px;
    color: red;
}

.error-message {
   align-self: flex-start;
    color: red;
    font-size: 0.875rem;
    margin-top: 0.25rem;
    display:none;
}

.error {
    border-color: red;
}

.success {
    border-color: green;
}
.error-message.show {
    display: block !important;
}