/* shared.css - Common styles across pages */

* {
    font-family: "mulish", sans-serif, Arial, Helvetica;
    font-size: 15px;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, rgba(247, 248, 196, 0.429), rgba(143, 201, 251, 0.301));
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid #e5e7eb;
    padding: 1rem;
    height: 4rem;
    position: sticky;
    z-index: 10;
    top: 0;
}

.logo .logophoto {
    width: 3rem;
    margin-right: 4px;
    border-radius: 50%;
}

.logo a {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
    background-color: white;
    padding-left: 14px;
    font-weight: 800;
}

.my-button {
    background-color: #1877F2;
    margin-right: 15px;
    border-radius: 10px;
    padding: 7px;
    width: 70px;
    height: 35px;
    color: white;
    font-weight: 700;
    border: none;
    font-size: 12px;
    cursor: pointer;
}

.navlist {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-direction: row;
    background-color: white;
}

.navlist a {
    text-decoration: none;
    color: black;
}

.navlist li {
    text-align: center;
    padding: 10px 15px;
    transition: background-color 0.2s ease;
}

.navlist li:hover,
.navlist li:active {
    background-color: #FCE7EF;
    border-radius: 9999px;
}

svg {
    width: 17px;
    height: 17px;
}