
.teachform{
    font-family: "mulish", "arial", "sans";
    padding-inline: 30px;
    padding-block: 10px;
    margin: auto;
    border:solid;
    border-width: 2px;
    border-color: rgb(222, 220, 220);
    border-radius: 15px;
    background-color: white;
    box-shadow: 2px 2px 10px 2px rgb(203, 203, 203);
    height: fit-content;
    width: 330px;
}
.teachform h2{
    display: flex;
    align-items: center;
    gap: 6px;
}
.teachform form{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.uploadphoto{
    background-color: var(--background-color);
    padding-block: 5px;
    border-radius: 15px;
    border-style: dashed;
    border-color: var(--hover-color);
    font-size: 15px;
    padding-inline: 2px;
}
.uploadphoto:hover{
    cursor: pointer;
}
.uploadphoto p{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.teachform form label{
    margin-top: 5px;
    color: rgb(65, 65, 65);
    font-size: 15px;
    font-weight: 600;
}
.teachform form input{
    padding-left: 10px;
    padding-block: 12px;
    border-radius: 15px;
    border-color: rgb(222, 220, 220);
    border-width: 1px;
    border-style:ridge;
}
.teachform form textarea{
    resize: none;
    padding-left: 10px;
    padding-top: 8px;
    border-radius: 15px;
    border-color: rgb(222, 220, 220);
    border-width: 1px;
    border-style:ridge;
    min-height: 80px;
}
.teachform form input:focus,textarea:focus{
    outline: none;
    background-color: rgb(244, 243, 243);
}
.teachform form >p{
    color: rgb(65, 65, 65);
    font-size:14px;
}
.teachform form >p input{
    margin: 0;
    margin-right: 5px;
}
.teachform form button{
    padding-block: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 12px;
    border-style: ridge;
    border-color: var(--primary-color);
    background-color: var(--primary-color);
    color: white;
    font-weight: 600px;
    width:100%;
    
}
#upload{
    display: none;
}
.submition p{
    display: flex;
    font-size: small;
    align-items:start;
    color: rgb(72, 71, 71);
}
.teachform form button:hover{
    background-color: var(--hover-color);
    border-color: var(--border-color);
    color: var(--primary-color);
}
.error { 
border: 1px solid red !important; 
} 

.success { 
border: 1px solid green !important; 
}
#result{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: small;
    color: red;
    background-color: rgb(253, 225, 225);
    padding-block: 5px;
    padding-inline: 10px;
    width: fit-content;
    border-radius: 15px;
    border:solid 1px red;
    text-align: center;

}
@media only screen and (min-width: 1024px) {
    .teachform{
        height: 600px;
        width: 700px;
    }
    .teachform form textarea{
        min-height: 200px;
    }
    .teachform form button{
        width: 160px;
        border-radius:20px;
        padding: 0;
        margin-block: 12px;
    }
    .teachform form .submition{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

}