body{
    padding: 0;
    margin: 0;
}
.container {
    display: flex;
    margin: 0;
    background: rgb(40, 39, 39);
    width:100vw;
    height: 100vh;
}

#videoPlayer{
    margin: auto;
    height: 80vh;
    width: auto;
    box-shadow: 2px 5px 15px 2px rgb(2, 2, 2);
    border-radius: 15px;
}

.container #cross{
    background-color: white;
}
.container #cross:hover{
    cursor: pointer;
}
