html,
body {
    font-family: 'Mulish', sans-serif;
    height: 100%;
    margin: 0;
    counter-reset: counter;
}

.overlay {
    /* position: fixed; */
    inset: 0;
    /* this is to make sure the overlay will stretch to cover all the page form all directions*/
    background: rgba(158, 152, 152, 0.4);
    display: flex;
    align-items: center;
    /*center vertically*/
    justify-content: center;
    /* center horizontally */
    height: 100vh;
}

.window {
    background-color: white;
    height: max-content;
    width: 380px;
    display: flex;
    flex-direction: column;
    gap: 15px;

}

header {
    flex: 1;
    display: flex;
    position: relative;
    gap: 10px;
    width: 100%;
    border-bottom-color: #eaf4fe;
    border-bottom-width: 1.5px;
    border-bottom-style: solid;
}

.shield {
    margin: 0px 3px -3px;
}

header h2 {
    margin-left: 20px;
}

header div {

    background-color: #eaf4fe;
    width: max-content;
    height: max-content;
    position: absolute;
    right: 19px;
    top: 22px;
    text-align: center;
    border-radius: 25px;
    padding: 7px 5px;
    font-size: 14px;
    text-shadow: 0px 0px 1px #c6c5c5;
    box-shadow: 0 0 1px #c6c5c5;

}

.data-visibility {
    flex: 1;
    width: 90%;
    margin: 0% 5% 0% 5%;
    border: 1.5px, solid, #eaf4fe;
    border-radius: 20px;
}

.lock {
    margin: 0px 5px -2px;
    height: 19px;
    width: 19px;
}

.data-visibility h4 {
    box-sizing: border-box;
    background-color: #eaf4fe;
    margin: 0px;
    padding: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

dl {
    display: grid;
    grid-template-columns: max-content auto;
    column-gap: 20px;
}

dt {
    grid-column: 1;
    font-weight: bold;
    color: #6A7281;
    margin-bottom: 10px;
    padding-left: 10px;
}

dd {
    grid-column: 2;

    margin-bottom: 10px;
}

.legal-terms {
    flex: 2;

    width: 90%;
    margin: 0% 5% 0% 5%;
    border: 1.5px, solid, #eaf4fe;
    border-radius: 20px;

}

.scale {
    height: 19px;
    width: 19px;
    margin: 0px 3px -3px;
}

.legal-terms h4 {
    box-sizing: border-box;
    background-color: #eaf4fe;
    overflow: auto;
    margin: 0px;
    padding: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.clock {
    height: 19px;
    width: 19px;
    margin: 0px 5px -3px;
}

.update-history {
    box-sizing: border-box;
    width: 90%;
    margin: 10px 5% 0px;
    color: #6A7281;
    background-color: #eaf4fe;
    border-radius: 15px;
    padding: 5px 5px 5px 40px;
}

.title {
    font-weight: bolder;
    padding-left: 10px;
}

.title::before {
    counter-increment: counter;
    content: counter(counter) ". ";
}

p {
    padding-left: 5px;
}

footer {
    flex: 1;
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    width: 100%;
    border-top-color: #eaf4fe;
    border-top-width: 1.5px;
    border-top-style: solid;
    margin-bottom: 12px;
}

.close {

    background-color: transparent;
    border: 1.5px, solid, #f2f6fa;
    border-radius: 20px;
    text-align: center;
    padding: 10px 0px;
    width: 70px;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
    transition: 0.4s ease;
    box-shadow: 0 0 1px #c6c5c5;
    color: #5c5d63;
    text-shadow: 0px 0px 1px #7e7676;
}

.close:hover {
    transform: scale(1.1);
}

.acknowledge {

    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 20px;
    text-align: center;
    padding: 10px 0px;
    width: 100px;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
    transition: 0.4s ease;
    text-shadow: 0px 0px 1px #fefdfd;
    box-shadow: 0 0 1px #c6c5c5;

}

.acknowledge:hover {
    transform: scale(1.1);
}

@media (min-width:600px) {
    .window {
        width: 75%;
        margin: 0% 5%;
        border-radius: 20px;

    }
}